<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 <mapper namespace="exam">
 
 	<insert id = "insert" parameterType="ExamDto">
 		insert into exam(exam_id,student,subject,type,score)
 		values(exam_seq.nextval,#{student},#{subject},#{type},#{score})
 	</insert>
 	
 	<!-- 과제 : 목록,검색,상세를 만드시오 -->	
	<select id = "list" resultType="ExamDto">
		select * from exam order by exam_id asc
	</select>
	<select id="search" resultType="ExamDto" parameterType="Map">
		select * from exam where instr(${type},#{keyword}) > 0 order by ${type} asc
	</select>
	<select id="one" resultType="ExamDto" parameterType="long">
		select * from exam where exam_id = #{examId}
	</select>

 </mapper>