<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 <mapper namespace="product">
 	<insert id="add" parameterType="com.kh.spring08.entity.ProductDto">
 			 insert into product(no, name, type, price, made, expire) 
 			 values(
 			 #{no}, #{name}, #{type}, #{price},
 			  to_date(#{madeString}, 'YYYY-MM-DD'),
 			   to_date(#{expireString}, 'YYYY-MM-DD')
 			   )
 	
 	</insert>
 	
 	<select id="list" resultType="ProductDto" >
		select * from product 
 	</select>
 	<select id="search" resultType="ProductDto" parameterType="Map">		
 		select * from product where instr(${type},#{keyword}) > 0 order by ${type} asc
 	</select>
 	<select id="one" resultType="ProductDto" parameterType="int">
 		select * from product where no = #{no}
 	</select>
 	
 	<select id = "count" resultType="int">
 		select count(*) from product
 	</select>
 </mapper>